.signout_style{
  border-radius: 8px;
  // opacity: 0.5;
  // background: hotpink;
  width: 80px;
  padding: 2px;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  min-height: 30px;
  padding-top: 5px;
}

a{
  text-decoration: none;
}
