.searchbox{
    padding: 5px;
    margin: auto;
}

.marginAuto{
  margin-left: auto;
  margin-right: auto;
}

.span{
  font-weight: bold;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: flex-end;
}

#tomorrow{
  color: red;
}

.lightgreen{
  background: rgb(124, 209, 124);
}

#grey{
  color: rgb(167, 165, 165);
}

#green{
  color: blue;
}

.flexform{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.top{
  top: 0;
}

.lobster{
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 1.2em;
}

.indie{
  font-family: 'Indie Flower', cursive;
}

.alegreya{
  font-family: 'Alegreya Sans SC', sans-serif;
}

.solway{
  font-family: 'Solway', serif;
}
.dance{
  font-family: 'Dancing Script', cursive;
}

.marginauto{
  margin: auto;
}

.search{
  background:rgba(50, 50, 50, 0.2);
  border: 2px solid #7295f8;
}

.button{
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}